.App {
  text-align: center;
  background-color: #282c34;
  min-width: 1000px;
}

.Header {
  background-color: #070707;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: white;
  font-size: x-large;
  font-weight: bold;
  padding: 20px;
}

.Main-content {
  padding-top: 50px;
  background-color: #282c34;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: calc(100vh - 118px);
}
